
/*--------OVER ALL-----------*/
* {
    box-sizing: border-box;
    margin:0px;
  }

html, body {
    height: 100%;
	background-color:ghostwhite;

}

body {
    background-color:honeydew;
    min-height: 100vh;
}

@media all and (min-width: 576px) {
    #centerbody{
      width:69%;
      min-height: 500px;
      height:fit-content;    
    }
    #leftnav{
        min-height: 500px;
        height:fit-content;
        width:30%;
    }
}
  
@media all and (max-width: 575px) {
    #centerbody{
        width:100%;
        min-height: 150px;
      }
    #leftnav{
        width:100%;
        min-height:200px;
      }
}

/*--------PAGE CHUNKS--------*/

#header{
    background-color:blanched-almond;
    text-align: center;
	color: black;	
    margin:0px;
    padding: 20px;
    width: 100%;
	height: 150px;
    margin:0px;
}

#centerbody{
    padding:10px;
    float:left;
    height:auto;
    margin: 0;
    background-color: cornsilk;
}

#leftnav{
    padding:10px;
    float:left;
    margin: 0;
    background-color: floralwhite;
}

#footer{
    float:inline-end;
    margin: 0;
    padding: 0;
    background-color: aliceblue;
    width:100vw;
    height: 18vh;
    text-align: center;
    padding: 20px;
}

/*-----HEADER & FOOTER ELEMENTS---*/
div.title{
    padding:5px;
    float:left;
    width:30%;
    height:100px;
    text-align: center;
}

div.menu{
    align-content: center;
    text-align: center;
}

a.headlink{
    padding:5px;
    width:20%;
    height:100px;
}


/*--------ELEMENTS--------------*/

h1 {
    font-size:36px;
    text-align:center;
    color:goldenrod;
}
h2{
    font-size: 20px;
    text-align: center;
    color:paleviolet red;
}
h3{
    font-size:18px;
    text-align: center;
    color:FF748B;
}
h4,h5{
    font-size:14px;
    text-align: center;
    color:plum;
}
h6{
    font-size:12px;
    text-align:center;
    color:indianred;
}
p{
    padding:5px;
}
img.shrink{
    width:100%;
    height:auto;
}
img.shrink-left{
    width:30%;
    height:auto;
    float:left;
    margin:5px;
}
a:visited{
    color:grey;
}

.readmore{
    align-self: center;
    padding: 15px 30px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    background-color: #4c4faf; 
    color: white;
    transition: all 0.3s ease;
    border: none;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: 10px;
}

.readmore:hover {
    background-color: #403d8a;
    transform: translateY(-2px);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}

#billyVideo{
    width:100%;
    display: inline;
    padding-top:10px;
    padding-bottom:10px;
}
#rscHeader{
    padding:10px;
}
/*--------END ELEMENTS------------------*/

/*--------JS BUDGET CALC------------------*/
.slide{
    display:flex;
    align-items: center;
}
.savingsBlock{
    display: flex;
    align-items: center;
}
#expenses{
    text-align: left;
}
#calculator{
    background-color:seashell;
    padding:15px;
}
/*--------END JS BUDGET CALC-------------*/

/*--------IMITATION SHOPPING FEED----------*/
#testimonials{
    background-color:whitesmoke;
    color:red;
    margin:10px;
    padding-top:5px;
}

h3.product-title{
    text-align: left;
    padding-top:10px;
    padding-left: 10px;
}
h4.product-brand{
    text-align: left;
    padding-left:10px;
    padding-bottom:10px;
}
.product-image{
    float:left;
    max-height:250px;
    width:auto;
}
div.oneProduct{
    margin:10px;
    background-color:snow;
    height:350px;
}
p.product-description{
    color:blue;
    padding:10px;
}
#shop{
    height:fit-content;
    background-color: whitesmoke;
}
p.product-price{
    text-align: left;
    padding-left:10px;
}
p.product-rating{
    text-align: left;
    padding-left:10px;
    padding-bottom:10px;
}
div.product-header{
    background-color:aliceblue;
}

#doNotBuy{
    align-self: center;
    padding: 15px 30px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    background-color:red; 
    color:white;
    transition: all 1.5s ease;
    border: none;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: 10px;
}

#doNotBuy:hover {
    background-color:red;
    transform: translateY(-1000px);
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.15);
}

/*--------END IMITATION FEED-----------------*/
