
/*--------OVER ALL-----------*/
* {
    box-sizing: border-box;
    margin:0px;
  }

html, body {
    height: 100%;
}

body {

    min-height: 100vh;
}

@media all and (min-width: 576px) {
    #centerbody{
      width:69%;
      min-height: 500px;
      max-height: 500px;    
    }
    #leftnav{
        min-height: 500px;
        max-height: 500px;
        width:30%;
    }
}
  
@media all and (max-width: 575px) {
    #centerbody{
        width:100%;
        min-height: 150px;
      }
    #leftnav{
        width:100%;
        min-height:200px;
      }
}

/*--------PAGE CHUNKS--------*/

#header{
    background-color:aliceblue;
    text-align: center;
	color: black;	
    margin:0px;
    padding: 20px;
    width: 100%;
	height: 150px;
    margin:0px;
}

#centerbody{
    padding:10px;
    float:left;
    height:auto;
    margin: 0;
}

#leftnav{
    padding:10px;
    float:left;
    margin: 0;
    background-color: lightblue;
}

#footer{
    float:inline-end;
    margin: 0;
    padding: 0;
    background-color: aliceblue;
    width:100vw;
    height: 18vh;
    text-align: center;
    padding: 20px;
}

/*-----HEADER & FOOTER ELEMENTS---*/
div.title{
    padding:5px;
    float:left;
    width:30%;
    height:100px;
    text-align: center;
}

div.menu{
    align-content: center;
    text-align: center;
}

a.headlink{
    padding:5px;
    width:20%;
    height:100px;
}


/*--------ELEMENTS--------------*/

h1 {
    font-size:36px;
    text-align:center;color:blue
}
h2{
    font-size: 20px;
    text-align: center;color:darkorange
}
h3{
    font-size:18px;
    text-align: center;color:lightskyblue
}
h4,h5{
    font-size:14px;
    text-align: center;color:darkorange
}
h6{
    font-size:12px;
    text-align:center;color:blue
}
img.shrink{
    width:100%;
    height:auto;
}
a:visited{
    color:pink;
}
/*--------END ELEMENTS------------------*/


/*--------IMITATION SHOPPING FEED----------*/
h3.product-title{
    text-align: left;
    padding-top:10px;
    padding-left: 10px;
}
h4.product-brand{
    text-align: left;
    padding-left:10px;
    padding-bottom:10px;
}
div.oneProduct{
    margin:10px;
    background-color: darkgray;
}
p.product-description{
    color:whitesmoke;
    padding:10px;
}
#shop{
    height:fit-content;
}
p.product-price{
    text-align: left;
    padding-left:10px;
}
p.product-rating{
    text-align: left;
    padding-left:10px;
    padding-bottom:10px;
}
div.product-header{
    background-color: black;
}

/*--------END IMITATION FEED-----------------*/


/*--------archive code
#special{
    background-color: black;
    font-weight: bolder;
    text-decoration: double;
    color:whitesmoke
}

.background{
    background-color: black;
    color:whitesmoke;
}
a{
    font-size: 15px;
    color:whitesmoke;
}

ul{
    line-height: 30px;
    font-size: 15px;
}
#poem{
    font-size:14px;
}
p{
    font-size: 14px;
}
h2{
    font-size: 17px;
    font-weight: lighter;
    font-style: italic;
}
h3{
    font-size: 17px;
    font-style: italic;
}
#asemic{
    transform: scale(0.5);
    margin:0;
}
td{
    border: 1px solid;
    width:30%;
    border-color: pink;
    background-color: black;
}
td a{
    font-size: 11px;
}
tr{
    font-size:10px;
    background-color: gray;
}
th{
    font-size: 12px;;
}
img{
    width:100%;
    height:auto;
}
.icon{
    width:40px;
    height:40px;
}
End archive---------*/

